# dbt
target/
dbt_packages/
logs/
.user.yml

# sqlite (we're going with seed files for now)
sqlite/*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables
.env
.env.local

